*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aliceblue;
}

main {
    height: 100vh;
    display: grid;
    place-content: center;
}

.reviews-container {
    width: 60vw;
    margin: 0 auto;
    max-width: 500px;
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: .5rem;
}

.img-container::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 8px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: lightseagreen;
}

.img-container {
    position: relative;
    height: 150px;
    width: 150px;
}

.person-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.quote-icon {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightseagreen;
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
}

.person-name {
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.person-job {
    text-transform: uppercase;
    color: lightseagreen;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: -1rem;
}

.text {
    color: lightslategrey;
    text-align: center;
    line-height: 1.5rem;
}

.btn-container {
    display: flex;
    column-gap: 1.5rem;
}

.prev-btn,
.next-btn {
    background-color: transparent;
    border: transparent;
    color: rgb(19, 97, 93);
    font-size: 1.5em;
    cursor: pointer;
    transition: all .3s ease;
}

.prev-btn:hover,
.next-btn:hover {
    color: rgba(32, 178, 171, 0.301);
}

.surprise-btn {
    text-transform: capitalize;
    padding: .5rem .7rem;
    border: transparent;
    background-color: rgba(45, 184, 177, 0.233);
    color: lightseagreen;
    letter-spacing: 1px;
    border-radius: .2rem;
    cursor: pointer;
    transition: all .3s ease;
}

.surprise-btn:hover {
    background-color: lightseagreen;
    color: white;
}